/* .wallpaper{
    text-align: center;
    position: relative;

}

.wallpaper img{
    height: 600px;
    width: 90%;
}



.wallpaper-info{
    position: absolute;
    top: 450px; 
    right: 50px; 
    width: 50%;
    text-align: center;
    background-color: gray;
    opacity: 0.7;
    height: 80px;
    overflow-y: scroll; 

}

.wallpaper-info p{
    color: white;
    font-weight: bolder;
} */

.wallpaper {
    height: 600px;
    margin-top: 20px;
    position: relative;
}
  
img {
    width: 100%;
    height: 100%;
    position: relative;
}

.wallpaper-info {
    height: 75px;
    width: 55%;
    position: absolute;
    top: 67%;
    right: 30px;
    background-color: gray;
    opacity: 0.7;
    text-align: center;
    padding-bottom: 20px;
    overflow-y: scroll; 
    color: white;
    font-weight: bolder;
}

.wallpaper-text{
      margin-bottom: 5px;
}

.images-div{
    background-color: lightblue;
    /* height: 2000px; */
    width: 90%;
    height: 500px;
    position: relative;
    margin-left: 5%;
}


h1{
    text-align: center;
    border: 2px solid blue;
}


.picture{
    width: 30%;
    height: 50%;
    float: left; 
    margin-left: 2%;
    text-align: center;
}

@media all and (max-width: 1100px){
    .images-div{
        overflow-y: auto;
    }
}


.clock {
    margin-top: 5%;
    margin-left: 9.9%;
    background-color: rgb(102, 44, 102);
    width: 80%;
    height: 750px;
    position: relative;
  }
  
  .clock > img {
    height: 85%;
    width: 70%;
    display: block;
    margin: auto;
    padding-top: 6.5%;
    position: relative;
  }
  
  #hourhand {
    height: 110px;
    width: 170px;
    top: 35%;
    right: 32%;
    position: absolute;
    animation-name: movehourhand;
    transform-origin: center left;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  #minutehand {
    height: 100px;
    width: 200px;
    top: 41%;
    left: 47%;
    position: absolute;
    transform-origin: center left;
    animation-name: moveminutehand;
    animation-duration: 12s;
    animation-iteration-count: infinite;
  }
  
  @keyframes movehourhand {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(27deg)}
  }
  
  @keyframes moveminutehand {
    0% {transform: rotate(-90deg)}
    100% {transform: rotate(270deg)}
  }








